services:
  pumpkin:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_VERSION: ${APP_VERSION:-dev}
    container_name: pumpkin
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - postgres
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: postgres
    ports:
      - 5432:5432
    volumes:
      - ./runtime/postgresql:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-db}
      POSTGRES_TIMEZONE: ${TIMEZONE:-Europe/Moscow}
