:root {
  --color-accent: #fd7e14;
  --color-text-primary: #222222;
  --color-text-secondary: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-text-primary);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.3s ease;
}

.web header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 50px;
  margin-bottom: 10px;
}

.web header a {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
}

.logo {
  gap: 8px;
}

.logo img {
  width: 32px;
}

.logo span {
  font-weight: bold;
}

.logo small {
  font-weight: normal;
  font-size: 0.5em;
  color: var(--color-accent);
}

main {
  flex: 1 0 auto;
  margin-bottom: 10px;
}

.web footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.web footer small {
  color: var(--color-text-secondary);
}

.admin .login-page {
  display: grid;
  place-items: center;
  height: 100vh;
}

.admin .login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.admin .login-form .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin .login-form input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
}

.admin .login-form button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
}
