name: Tests

on:
  push:
    paths-ignore:
      - README.md
      - .github/**
  pull_request:
    paths-ignore:
      - README.md
      - .github/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run tests
        run: go test -race -v ./...
